{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Lista de Candidatos{% endblock %}

{% block script %} {% endblock %}

{% block 'body' %}

<h1>Lista de Candidatos</h1>

<div>
    <button type="button" class="btn btn-primary" onclick="redirecionarParaFuncionario()">Adicionar Candidato</button>
</div>
<br>

<div class="col-md-3">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
              <th scope="col">Data de Envio</th>
              <th scope="col">Status</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in candidatos %}
            <tr>
              <th scope="row">{{ i.nome}} </th>
              <td>{{ i.email }}</td>
              <td>{{ i.telefone}} </td>
              <td>NaN</td>
              <td>{{i.status_questionario}}</td>
              <td>NaN</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-3">
    </div>

{% endblock %}