{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<script src="{% static 'resultado/js/funcoes.js' %}"></script>
<script src="{% static 'empresa/css/estilos.css' %}"></script>
{% endblock %}

{% block 'title' %}Painel Empresa{% endblock %}

{% block 'navbar' %} {% endblock %}

{% block 'body' %}
    <h1>{{ empresa.nome }}</h1>
    <hr>

    <!-- Botoes do menu -->
    <div style="display: flex; justify-content: space-between; align-items: center;">

        <div>
            <button type="button" class="btn btn-primary" onclick="redirecionarParaCandidatos()">Candidatos</button>
            <button type="button" class="btn btn-primary" onclick="redirecionarParaRelatorio()">Relatórios</button>
            <button type="button" class="btn btn-primary">Enviar Convite</button>
            <button type="button" class="btn btn-primary" onclick="redirecionarParaDashboard()">Dashboard</button>
            <button type="button" class="btn btn-primary" onclick="redirecionarParaConfig()">Configurações</button>
            <button type="button" id="Sair" class="btn btn-danger" onclick="logoutEmpresa()">Sair</button>


        </div>
    </div>
    <br>

    <h2>Lista dos funcionários     (Créditos: 0)</h2>
    <br>

    <!-- Dropdown para seleção de filtro -->
    <label for="filtro">Filtrar por:</label>
    <select id="filtro">
        <option value="ordemAlfabetica">Ordem Alfabética</option>
        <option value="dataCadastro">Data de Cadastro</option>
        <option value="statusTeste">Status dos Testes</option>
    </select>

    <!-- Lista de funcionários -->
    <ul id="listaFuncionarios">
        <!-- Os funcionários serão exibidos aqui -->
    </ul>

    <div class="col-md-3">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
              <th scope="col">Ultimo Envio</th>
              <th scope="col">Status</th>
              <th scope="col">Relatório</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                  <th scope="row"><a href="{% url 'gerenciar_funcionario' funcionario.id %}">{{ funcionario.nome}}</a></th>
                  <td>{{ funcionario.email }}</td>
                  <td>{{ funcionario.telefone}} </td>
                  <td>NaN</td>
                  <td>
                          {{funcionario.badge_template}}
                  </td>
                  <td>
                      {% if funcionario.verificar_status %}
                        <!-- TO-DO: colocar o link -->
                        <a href="/formularios2/resultado/{{funcionario.id}}" class="btn btn-light">Abrir</a>
                      {% else %}
                        <a href="#" class="btn btn-light disabled">Abrir</a>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-3">
    </div>

{% endblock %}