{% extends 'base.html' %}

{% load static %}

{% block 'head' %} {% endblock %}

{% block 'title' %} Formulário {% endblock %}

{% block 'body' %}

<div id="app">
    <div class="container mx-auto mt-5 pt-5">
        <div class="col-md-6 mx-auto">
            <h1>Formulário</h1>
                <div v-for="q in questoes">
                <hr>
                <p>[[q.nome]]</p>
                <div class="form-check" v-for="r in q.respostas ">
                    <input @change="checkResposta($event , q.uid)" :value="r.resposta" class="form-check-input" type="radio" :name="'questao_' + q.uid" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" :for="'questao_' + q.uid">
                        [[r.resposta]]
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
      const baseUrl = "http://127.0.0.1:8000/api/get_formulario/"
      var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                categoria: "{{categoria}}",
                questoes: []
            }
        },
        methods : {
            getQuestoes(){
                var _this = this
                fetch(`{% url 'get_formulario' %}?categoria=${this.categoria}`)
                .then(response => response.json())
                .then(result =>{
                    console.log(result)
                    _this.questoes = result.data
                })
                .catch(error => {
                console.error('Erro ao obter questões:', error);
                });
            },
            checkResposta(event, uid){
                console.log(event.target.value, uid)
                this.questoes.map(questao => {
                    respostas = questao.respostas
                    for (i=0;i < respostas.length;i++) {
                        if (respostas[i].resposta == event.target.value){
                            if (respostas[i].resposta_correta) {
                                console.log('Resposta correta.')
                            } else {
                                console.log('Resposta incorreta')
                            }
                        }
                    }
                })
            },
        },
        created() {
            this.getQuestoes()
            console.log('Funcionando')

        },
      });
</script>

{% endblock %}