{% extends 'base.html' %}

{% load static %}

{% block 'head' %} {% endblock %}

{% block 'title' %} Formulário {% endblock %}

{% block 'body' %}

<div id="app">
    <div class="container mx-auto mt-5 pt-5">
        <div class="col-md-6 mx-auto">
            <div class="row">
                <div class="col">
                    <h1> {{instancias.nome}} </h1>
                </div>
                <div class="col text-right" id="timer-box">
                    <b v-text="timerText"></b>
                </div>
                <div class="row">
                    <p>{{instancias.texto}}</p>
                </div>
            </div>

                <div v-for="q in questoes">
                <hr>
                <p>[[q.nome]]</p>
                <div class="form-check" v-for="r in q.respostas ">
                    <input @change="checkResposta($event , q.uid)" :value="r.resposta" class="form-check-input" type="radio" :name="'questao_' + q.uid" id="q.uid" value="option1" checked>
                    <label class="form-check-label" :for="'questao_' + q.uid">
                        [[r.resposta]]
                    </label>
                </div>

                </div>
                <input class="btn btn-primary" type="submit" value="Enviar" @click.prevent="enviarRespostas">

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>


    const ativarTimer = (tempo) => {
    if (tempo === 0) {
        return;
    }
    let minutos = tempo - 1;
    let segundos = 60;

        const timer = setInterval(() => {
            segundos--;

            if (segundos < 0) {
                segundos = 59;
                minutos--;
            }

            if (minutos < 0) {
                clearInterval(timer);
                alert('Tempo Esgotado');
                app.enviarRespostas();

            }

            let displayMinutos = minutos < 10 ? '0' + minutos : minutos;
            let displaySegundos = segundos < 10 ? '0' + segundos : segundos;

            app.timerText = `${displayMinutos}:${displaySegundos}`;
        }, 1000);
    };

    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                formulario: "{{ formulario|safe }}",
                porcentagem_acerto: 0,
                frase: '',
                questoes: [],
                respostasMarcadas: [],
                timerText: '',
                tempo: 0,
            }
        },
        methods: {
            getQuestoes() {
                var _this = this;
                fetch(`{% url 'get_formulario' %}?formulario=${this.formulario}`)
                    .then(response => response.json())
                    .then(result => {
                        _this.questoes = result.data;
                        _this.tempo = _this.questoes[0].tempo;
                        _this.ativarTimer(_this.tempo);
                    })
                    .catch(error => {
                        console.error('Erro ao obter questões:', error);
                    });
            },
            checkResposta(event, uid) {
                console.log('Opção selecionada:', event.target.value);
                console.log('UID da questão:', uid);
                let questao = this.questoes.find(q => q.uid === uid);
                console.log(questao)
                if (questao) {
                    let respostaSelecionada = questao.respostas.find(r => r.resposta === event.target.value);
                    console.log(respostaSelecionada)
                    if (respostaSelecionada) {
                        this.respostasMarcadas.push({
                            texto_da_resposta: respostaSelecionada.resposta,
                            resposta_correta: respostaSelecionada.resposta_correta,
                            formulario_da_resposta: questao.formulario,
                            uid_formulario:questao.uid_formulario
                        });
                        console.log('respostasMarcadas:', this.respostasMarcadas)
                    }
                }
            },
            ativarTimer() {
                ativarTimer(this.tempo);
            },
            enviarRespostas() {
                fetch(`{% url 'coletar_respostas' %}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ respostasMarcadas: this.respostasMarcadas }),
                    })
                    .then(response => response.json())
                    .then(data => {
                    window.location.href = "{% url 'gerenciar_formularios' %}";
                    })
                    .catch(error => {
                        console.error('Erro ao enviar respostas:', error);
                    });
            },
        },
        created() {
            this.getQuestoes();
            this.ativarTimer();
        },
    });

</script>

{% endblock %}