{% extends 'base.html' %}

{% load static %}

{% block 'head' %} {% endblock %}

{% block 'title' %} Formulários {% endblock %}

{% block 'navbar' %} {% endblock %}

{% block 'body' %}

<!-- Mostrar uma lista com todos os inventarios e deixar um botao clicavel caso a empresa conceda a permissao ao usuario
     (disabled) -->

<h1>lista de formulários</h1>

<div class="container mx-auto mt-5 pt-5">
    <div class="col-md-6 mx-auto"></div>
        <form> {% csrf_token %}
            <div class="form-group">
                <label>Selecione o formulário</label>
                <select class="form-control" name="formulario">
                    <option value="Escolher">Escolher</option>
                    {% for formulario in formularios %}
                        <option value="{{formulario.nome}}">{{formulario.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

{% endblock %}