<!-- resultados.html -->

{% extends 'base.html' %}

{% block 'title' %} Resultados {% endblock %}

{% block 'body' %}

<h1>Resultados</h1>

{% if respostasMarcadas %}
    <ul>
        {% for resposta in respostasMarcadas %}
            <li>{{ resposta }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma resposta marcada.</p>
{% endif %}


<br>
<form action="" method="POST">
    <input type="FILE" value="Alterar PDF" class="btn btn-primary" name="resultado">
</form>
<br>
<br>
<a style="width: 100%" href="#" target="__blank"></a>

<hr>
Exibição dos dados
<!-- exibicao dos dados com graficos e etc (o pdf deve ser semelhante a exibicao dos dados desta pagina) -->



{% endblock %}