
{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
        <!-- Adicione isso ao seu arquivo HTML -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block 'head' %} {% endblock %}
    <title>{% block 'title' %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{% static 'empresas/js/funcoes.js' %}"></script>
    {% block 'script' %} {% endblock %}
</head>

<body>
    {% if exibir_navbar %}
      {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Minha Empresa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Autenticação
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/cadastro_landing/">Cadastro Landing</a></li>
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/cadastro_completo/">Cadastro Completo</a></li>
                      <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/cadastro_funcionario/">Cadastro Funcionário</a></li>
                      <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/cadastro_candidato/">Cadastro Candidato</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/login_empresa/">Login Empresa</a></li>
                      <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/login_funcionario/">Login Funcionário</a></li>
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/auth/login_candidato/">Login Candidato</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Painel
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/painel/home_empresa">Home Empresa</a></li>
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/painel/home_funcionario/">Home Funcionário</a></li>
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/painel/home_candidato">Home Candidato</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Formulários
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <li><a class="dropdown-item" href="https://vendorforce3-2.onrender.com/formularios2/home">Home</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Administração</a>
                    </li>
              </ul>
            </div>
          </div>
        </nav>

      {% endblock %}
    {% endif %}

    {% block 'body' %}
    {% endblock %}
    <footer id="footer" style="background-color: #193f74;
    color: white;
    padding: 20px;
    text-align: center;">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>